@charset "utf-8";
/* CSS Document */
body{
	background-color: lightgrey;
}

.cool{
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 1s;
}

.cool.red{
	background-color: red;
}